flows.json
[
    {
        "id": "380460893c60b2c6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8dfbf2f5869bd890",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ea84731956ab815b",
        "type": "subflow",
        "name": "GeminiLink Read",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 960,
                "y": 260,
                "wires": [
                    {
                        "id": "c8d266f84d79d3c2",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "Variable",
                "type": "str",
                "value": ""
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "6cc1fd480e1ff2c0",
        "type": "subflow",
        "name": "GeminiLink Write",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 220,
                "y": 280,
                "wires": [
                    {
                        "id": "b2efc1e6cc0017fa"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "b2e5a64da16e191f",
        "type": "group",
        "z": "6cc1fd480e1ff2c0",
        "name": "Agent API",
        "style": {
            "label": true
        },
        "nodes": [
            "0f60bb3b3f2c7830",
            "9f610c27c1616e84",
            "41c3d54a1a1fc3fa",
            "481106cef217fc34",
            "64e59843aeb5c894",
            "c3a0a23d3f2295a4",
            "baa03aa457ec27dd",
            "6ee6ed7c3843ef24",
            "8219abc93e942dd0",
            "4296d8e1b856e8ef",
            "434e0a30073d0a7e"
        ],
        "x": 594,
        "y": 139,
        "w": 312,
        "h": 482,
        "info": "https://www.npmjs.com/package/arduino-create-agent-js-client\r\nhttps://github.com/arduino/arduino-create-agent/wiki/How-to-use-the-agent"
    },
    {
        "id": "fc30f06a8280dca5",
        "type": "group",
        "z": "380460893c60b2c6",
        "name": "Cam Test",
        "style": {
            "label": true
        },
        "nodes": [
            "a45c141299e52353",
            "ddb802d233c649c1",
            "6fd5ec57ce50a179"
        ],
        "x": 94,
        "y": 99,
        "w": 572,
        "h": 82
    },
    {
        "id": "862abdb88a01c686",
        "type": "group",
        "z": "380460893c60b2c6",
        "name": "General Error Handling",
        "style": {
            "label": true
        },
        "nodes": [
            "bccc57f77f52f97e",
            "1f516d4f393d6632"
        ],
        "x": 754,
        "y": 99,
        "w": 352,
        "h": 82
    },
    {
        "id": "34a1dfac2d57c165",
        "type": "group",
        "z": "380460893c60b2c6",
        "name": "Camera Server Orchestration",
        "style": {
            "label": true
        },
        "nodes": [
            "73e8cec3aa242de4",
            "e3e6a8841edae516",
            "c63c054fd6b711fa",
            "c23663d72be86b25"
        ],
        "x": 194,
        "y": 459,
        "w": 852,
        "h": 122
    },
    {
        "id": "5ba86d0d1a8e44a7",
        "type": "websocket-listener",
        "path": "/ws/camera",
        "wholemsg": "false"
    },
    {
        "id": "ce66d5f75407be95",
        "type": "serial in",
        "z": "ea84731956ab815b",
        "x": 470,
        "y": 260,
        "wires": [
            [
                "3c16551f0ee3ea78"
            ]
        ]
    },
    {
        "id": "3c16551f0ee3ea78",
        "type": "json",
        "z": "ea84731956ab815b",
        "name": "Deserialize",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 650,
        "y": 260,
        "wires": [
            [
                "c8d266f84d79d3c2"
            ]
        ]
    },
    {
        "id": "c8d266f84d79d3c2",
        "type": "switch",
        "z": "ea84731956ab815b",
        "name": "",
        "property": "Variable",
        "propertyType": "env",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 830,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "0f60bb3b3f2c7830",
        "type": "function",
        "z": "6cc1fd480e1ff2c0",
        "g": "b2e5a64da16e191f",
        "name": "GeminiLink.agentFound",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "GeminiLink",
                "module": "arduino-create-agent-js-client"
            }
        ],
        "x": 730,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "9f610c27c1616e84",
        "type": "function",
        "z": "6cc1fd480e1ff2c0",
        "g": "b2e5a64da16e191f",
        "name": "GeminiLink.channelOpenStatus",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "GeminiLink",
                "module": "arduino-create-agent-js-client"
            }
        ],
        "x": 750,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "41c3d54a1a1fc3fa",
        "type": "function",
        "z": "6cc1fd480e1ff2c0",
        "g": "b2e5a64da16e191f",
        "name": "GeminiLink.error",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "GeminiLink",
                "module": "arduino-create-agent-js-client"
            }
        ],
        "x": 700,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "481106cef217fc34",
        "type": "function",
        "z": "6cc1fd480e1ff2c0",
        "g": "b2e5a64da16e191f",
        "name": "GeminiLink.devicesList",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "GeminiLink",
                "module": "arduino-create-agent-js-client"
            }
        ],
        "x": 720,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "64e59843aeb5c894",
        "type": "function",
        "z": "6cc1fd480e1ff2c0",
        "g": "b2e5a64da16e191f",
        "name": "GeminiLink.start",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "GeminiLink",
                "module": "arduino-create-agent-js-client"
            }
        ],
        "x": 700,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "c3a0a23d3f2295a4",
        "type": "function",
        "z": "6cc1fd480e1ff2c0",
        "g": "b2e5a64da16e191f",
        "name": "GeminiLink.read",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "GeminiLink",
                "module": "arduino-create-agent-js-client"
            }
        ],
        "x": 700,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "baa03aa457ec27dd",
        "type": "function",
        "z": "6cc1fd480e1ff2c0",
        "g": "b2e5a64da16e191f",
        "name": "GeminiLink.close",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "GeminiLink",
                "module": "arduino-create-agent-js-client"
            }
        ],
        "x": 710,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "6ee6ed7c3843ef24",
        "type": "function",
        "z": "6cc1fd480e1ff2c0",
        "g": "b2e5a64da16e191f",
        "name": "GeminiLink.write",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "GeminiLink",
                "module": "arduino-create-agent-js-client"
            }
        ],
        "x": 700,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "8219abc93e942dd0",
        "type": "function",
        "z": "6cc1fd480e1ff2c0",
        "g": "b2e5a64da16e191f",
        "name": "GeminiLink.flashFirmware",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "GeminiLink",
                "module": "arduino-create-agent-js-client"
            }
        ],
        "x": 730,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "4296d8e1b856e8ef",
        "type": "function",
        "z": "6cc1fd480e1ff2c0",
        "g": "b2e5a64da16e191f",
        "name": "GeminiLink.flashFirmwareStatus",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "GeminiLink",
                "module": "arduino-create-agent-js-client"
            }
        ],
        "x": 750,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "434e0a30073d0a7e",
        "type": "function",
        "z": "6cc1fd480e1ff2c0",
        "g": "b2e5a64da16e191f",
        "name": "GeminiLink.startAgent",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "GeminiLink",
                "module": "arduino-create-agent-js-client"
            }
        ],
        "x": 720,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "b2efc1e6cc0017fa",
        "type": "json",
        "z": "6cc1fd480e1ff2c0",
        "name": "Deserialize",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 370,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "bccc57f77f52f97e",
        "type": "debug",
        "z": "380460893c60b2c6",
        "g": "862abdb88a01c686",
        "name": "Failure",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 140,
        "wires": []
    },
    {
        "id": "1f516d4f393d6632",
        "type": "catch",
        "z": "380460893c60b2c6",
        "g": "862abdb88a01c686",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 840,
        "y": 140,
        "wires": [
            [
                "bccc57f77f52f97e"
            ]
        ]
    },
    {
        "id": "b9718602d94a6d92",
        "type": "websocket out",
        "z": "380460893c60b2c6",
        "name": "",
        "server": "5ba86d0d1a8e44a7",
        "client": "",
        "x": 640,
        "y": 320,
        "wires": []
    },
    {
        "id": "b307e5e36a7d2bd5",
        "type": "udp in",
        "z": "380460893c60b2c6",
        "name": "Pi Cam",
        "iface": "",
        "port": "42069",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 450,
        "y": 320,
        "wires": [
            [
                "b9718602d94a6d92"
            ]
        ],
        "icon": "node-red/rpi.svg"
    },
    {
        "id": "73e8cec3aa242de4",
        "type": "exec",
        "z": "380460893c60b2c6",
        "g": "34a1dfac2d57c165",
        "command": "raspivid -t 0 -n -o udp://0.0.0.0:42069",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 610,
        "y": 520,
        "wires": [
            [
                "e3e6a8841edae516"
            ],
            [
                "e3e6a8841edae516"
            ],
            [
                "e3e6a8841edae516"
            ]
        ]
    },
    {
        "id": "e3e6a8841edae516",
        "type": "debug",
        "z": "380460893c60b2c6",
        "g": "34a1dfac2d57c165",
        "name": "Camera Server Log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 520,
        "wires": []
    },
    {
        "id": "c63c054fd6b711fa",
        "type": "inject",
        "z": "380460893c60b2c6",
        "g": "34a1dfac2d57c165",
        "name": "Spawn Camera",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 320,
        "y": 500,
        "wires": [
            [
                "73e8cec3aa242de4"
            ]
        ]
    },
    {
        "id": "c23663d72be86b25",
        "type": "inject",
        "z": "380460893c60b2c6",
        "g": "34a1dfac2d57c165",
        "name": "Kill Camera",
        "props": [
            {
                "p": "kill",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 330,
        "y": 540,
        "wires": [
            [
                "73e8cec3aa242de4"
            ]
        ]
    },
    {
        "id": "a45c141299e52353",
        "type": "template",
        "z": "380460893c60b2c6",
        "g": "fc30f06a8280dca5",
        "name": "Cam Test Page",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<h1>Sup bitches</h1>\n<h2>Helo my name Deepu</h2>",
        "output": "str",
        "x": 400,
        "y": 140,
        "wires": [
            [
                "6fd5ec57ce50a179"
            ]
        ]
    },
    {
        "id": "ddb802d233c649c1",
        "type": "http in",
        "z": "380460893c60b2c6",
        "g": "fc30f06a8280dca5",
        "name": "",
        "url": "/camera",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "a45c141299e52353"
            ]
        ]
    },
    {
        "id": "6fd5ec57ce50a179",
        "type": "http response",
        "z": "380460893c60b2c6",
        "g": "fc30f06a8280dca5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 140,
        "wires": []
    },
    {
        "id": "6d2216ceac7d0358",
        "type": "subflow:ea84731956ab815b",
        "z": "8dfbf2f5869bd890",
        "name": "",
        "x": 260,
        "y": 240,
        "wires": [
            [
                "74e434a53621126f"
            ]
        ]
    },
    {
        "id": "74e434a53621126f",
        "type": "debug",
        "z": "8dfbf2f5869bd890",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 240,
        "wires": []
    }
]